{
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "arrowParens": "avoid",
  "singleQuote": true,
  "printWidth": 90,
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "trailingComma": "none"
}
