* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body_content {
  display: flex;
  margin: 0 auto;
}

.content {
  background-color: #f2f2f2;
}

/*Accordion*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Styles the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
}

/* Styles the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  height: 50px;
  background-color: #153c79;
  padding: 5px;
  color: #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  margin-bottom: 2px;
  transition: background-color 0.6s ease;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
}

/* Adds a background color to the button if it is clicked on and when you move the mouse over it */
.accordion:hover {
  background-color: #0f2d5c;
}

/* Style the accordion content title */
.accordion__title {
  cursor: auto;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
  display: flex;
  flex-flow: column;
  cursor: auto;
  border: none;
}

.accordion__text {
  margin: 10px;
  font-family: verdana;
  font-size: 14px;
  vertical-align: middle;
}

.radioButton {
  transform: scale(0.6);
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  border-width: 5px;
  position: relative;
  border-color: rgb(255, 167, 36);
}

.radioButton:active,
.radioButton:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.radioButton:checked {
  background-color: #e9ecee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #20d447;
}

.radioButton:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

/*SortNav*/

.sortNav {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  background-color: #194890;
}

.committeeName {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
  background-color: #153c79;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 8pxac -1px rgba(0, 0, 0, 0.75);
  align-items: center;
  width: 100%;
  padding: 10px;
}

h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

hr {
  width: 95%;
  margin: 0 auto;
  border: 0.3px solid orange;
}

.choosePunishmentsContainer {
  background-color: #194890;
  height: 100%;
  margin-top: 30%;
  border: 4px solid black;
}

/*GrouppickerContainer*/

.group_picker_container {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  align-content: center;
  height: 100%;
  background-color: #062350;
  margin-bottom: 30px;
  padding: 10px;
}

.groupLogosContainer {
  margin: 0 auto;
}

.leftLogo {
  left: 2%;
  top: 2%;
  background-color: #ffffff;
}

.groupBtn {
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 5px;
  box-shadow: 0 8px #c9c9c9;
  transition: background-color 0.6s ease;
}

.groupBtn:hover {
  background-color: #ffb84b;
}

.groupBtn:active {
  background-color: #e2941f;
}
